# Ignore all __pycache__ folders and .pyc files
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore output/plots/logs folders
plots/
logs/
new_logs/
results/
results_and_plots/
new_results_plots/

conv_without_filters/
output/
runs/
testing/

# Ignore datasets
2_20/
2layer/
3layer/
3layer_fixed/
all/
conv/
strategy/

.vscode/

